#this is default complete so for all port
#NetCompleteSo	./totallen_complete.so

#TCP bind port ,max num 65535 [ip:port:protocol.so:tps]
#tps = transaction per second
TcpIPAddr1  0.0.0.0:8888:asn20_complete.so

#UDP bind port ,max num 65535 [ip:port:protocol.so:tps]
#UdpIPAddr1  0.0.0.0:50001

#port 0 is no admin
#AdminIp		0.0.0.0:9000:asn20_complete.so
#AdminMsgSo	./kccd_admin_msg.so

#bind cpu for eache aux thread,-1 is auto,
CpuAffinity		0

MeToSvrMQ  	../etc/mq_ccs_to_mcp.conf
SvrToMeMQ  	../etc/mq_mcp_to_ccs.conf

IpAccessOpen		0
#ACCESS,DENY
IpAccessDefault	ACCESS
IpAccessTable		./ipaccess.txt

StatisticGap  300

#0 or 1 to notify client disconnect
DisconnectNotify  0

#socket time out control, 0 is close
TimeOutCheckSecs		0
TimeOutSecs			3600

#��Ϣ���ڽ��ն����е��ʱ��,0Ϊ����
MaxQueueWaitus	2000000

#���ذ�������,ms
LoadCheckOpen			0
LoadCheckAllSpan			100000
LoadCheckEachSpan		100

#recv buff must large than 4*MSS,-1 is default 87380 [256,87380,262142]
SOCKET_RCVBUF		-1

#send buff	[2048,16384,262142]
SOCKET_SNDBUF		-1

#mem block size, must = pkg len or pkg len *1.5, the memory alloc is MEM_BLOCK_SIZE*65536 bytes
RCV_BLOCK_SIZE		1024
SND_BLOCK_SIZE		1024

RCV_BLOCK_NUM		10240
SND_BLOCK_NUM		10240

#max link num
MAX_SOCKET_NUM	2048

LISTEN_BACK_LOG	102400

