NetCompleteSo	./asn20_complete.so

MeToSvrMQ       ../etc/server_scc_to_mcp.conf
SvrToMeMQ       ../etc/server_mcp_to_scc.conf

#port 0 is no admin
AdminPort	0
AdminIp	0.0.0.0

StatisticGap  300

#0 or 1 to notify client disconnect
DisconnectNotify	0

CpuAffinity		0

#��Ϣ���ڽ��ն����е��ʱ��,0Ϊ����
MaxQueueWaitus	0

#socket time out control, 0 is close
TimeOutCheckSecs		0
TimeOutSecs			3600

#���ذ���ͳ��,ms
LoadCheckOpen			0
LoadCheckAllSpan			100000
LoadCheckEachSpan		100

#TCP,UDP
Protocol		TCP

#recv buff must large than 4*MSS,-1 is default 87380 [256,87380,262142]
SOCKET_RCVBUF		-1

#send buff	[2048,16384,262142]
SOCKET_SNDBUF		-1

#mem block size, must = pkg len or pkg len *1.5, the memory alloc is MEM_BLOCK_SIZE*65536 bytes
RCV_BLOCK_SIZE		4096
SND_BLOCK_SIZE		4096

RCV_BLOCK_NUM		10240
SND_BLOCK_NUM		10240

#max link num
MAX_SOCKET_NUM	5120

